<div class="grid container">
        <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card class="card1"></mat-card>
                    <mat-card-header>Header</mat-card-header>
                    <mat-card-title>t</mat-card-title>
                    <mat-card-content>Content</mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
              </mat-grid-list>
</div>










